@import "./colors";
@import "./typograpy";
@import "./mixin";

.about {
  &__hero {
    &-video {
      position: relative;
      width: 100%;

      video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    &-bckg {
      position: relative;
      padding: 0;
    }

    &-wrapper {
      max-width: 47em;
      margin: 0 auto;
      padding: 3rem 0;

      @include breakpoint(large-desktop) {
        padding: 3rem 1rem;
      }
    }

    h2 {
      font: 400 1.6rem/1.5 "Roboto", sans-serif;
      color: $color-white;
      text-align: center;
      margin-bottom: 2rem;

      @include breakpoint(large-desktop) {
        font: 400 2rem/1.5 "Roboto", sans-serif;
      }
    }

    p {
      color: $color-white;
    }
  }

  &__banner {
    &-bckg {
      background-size: cover;
      background-position: top center;
    }
    &-wrapper {
      display: grid;
      height: 80vh;

      @include breakpoint(large-desktop) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &-overlay {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 1rem 1rem 2.5rem;

      @include breakpoint(large-desktop) {
        display: grid;
        place-content: center;
        padding: 3rem 3rem 3rem 8rem;
      }

      span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        mix-blend-mode: multiply;

        @include breakpoint(large-desktop) {
          top: 0;
          bottom: initial;
          height: 100%;
        }
      }

      .h2 {
        position: relative;
        font: 600 1.6rem/1.5 "Roboto", sans-serif;
        color: $color-white;

        @include breakpoint(large-desktop) {
          font: 600 2.5rem/1.5 "Roboto", sans-serif;
        }
      }
    }
  }

  &__counter {
    &-bckg {
      display: grid;
      padding: 2rem 0;
      background-size: cover;
      background-repeat: no-repeat;

      @include breakpoint(large-desktop) {
        place-content: center;
        height: 22rem;
      }
    }

    &-item {
      text-align: center;
      &s {
        display: grid;
        row-gap: 3rem;

        @include breakpoint(large-desktop) {
          grid-template-columns: repeat(3, 1fr);
          column-gap: 3rem;
          padding: 0 1rem;
        }
      }

      img {
        margin: 0 auto 1rem;
      }

      .number {
        font: 300 3rem/1 "Roboto", sans-serif;
        color: $color-yellow;

        @include breakpoint(large-desktop) {
          font: 300 5rem/1 "Roboto", sans-serif;
        }
      }

      p {
        font: normal 1.5rem/1.2 "Roboto", sans-serif;
        color: $color-white;

        @include breakpoint(large-desktop) {
          font: normal 2rem/1.2 "Roboto", sans-serif;
        }
      }
    }
  }

  &__world {
    &-wrapper {
      display: grid;
      align-items: flex-start;

      @include breakpoint(large-desktop) {
        grid-template-columns: 45% 55%;
      }

      figure {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;

        &:first-child {
          padding-left: 3rem;
          img {
            width: 85%;
          }
        }

        img {
          width: 100%;
        }
      }

      .h2 {
        position: absolute;
        font: 600 1.6rem/1.5 "Roboto", sans-serif;
        width: 100%;
        padding: 0 2rem 0;
        text-align: right;
        color: $color-white;

        @include breakpoint(large-desktop) {
          font: 600 2.5rem/1.5 "Roboto", sans-serif;
          padding: 0 8rem 0;
        }
      }
    }
  }

  &__brand {
    &-bckg {
      padding: 2rem 0;

      @include breakpoint(large-desktop) {
        padding: 5rem 0 5rem;
      }

      .h2 {
        margin-bottom: 2rem;
        color: $color-white;
        text-align: center;
      }
    }

    &-wrapper {
      display: grid;

      @include breakpoint(tablet) {
        grid-template-columns: repeat(3, 1fr);
      }

      figure {
        margin: 0;
        overflow: hidden;

        img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 2/3;
          transform: translateY(0);
          transition: transform 0.2s ease-out;
          z-index: 1;
        }
      }

      figcaption {
        position: relative;
        display: grid;
        place-content: center;
        padding: 1rem 0;
        min-height: 7.7rem;
        margin-top: -7rem;
        background-color: $color-black;
        z-index: 1;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: $color-red;
          transition: height 0.2s ease-out;
        }
      }
    }

    @include breakpoint(large-desktop) {
      &-item {
        position: relative;
        &:hover {
          figure {
            img {
              transform: translateY(-7rem);
            }
          }
          figcaption {
            &:before {
              height: 100%;
            }
          }
        }
      }
    }

    &-icon {
      position: relative;
      width: 6rem;
      margin: 0 auto;
      z-index: 1;
    }
  }

  &__mision {
    &-wrapper {
      display: grid;

      @include breakpoint(large-desktop) {
        grid-template-columns: 1fr 1fr;
      }

      .h2 {
        font: 600 1, 0.8rem/1.2 Roboto, sans-serif;
        width: 100%;
        padding: 2rem 5rem 0.5rem;
        color: $color-white;

        @include breakpoint(tablet) {
          padding: 2rem 8rem 0.5rem;
        }

        @include breakpoint(large-desktop) {
          font: 600 2.5rem/1.2 Roboto, sans-serif;
          padding: 0 8rem 0.5rem;
        }
      }

      .h5 {
        padding: 0rem 5rem 2rem;
        color: $color-white;

        @include breakpoint(tablet) {
          padding: 0rem 8rem 2rem;
        }

        @include breakpoint(large-desktop) {
          padding: 0 8rem 0.5rem;
        }
      }

      ul {
        display: grid;
        row-gap: 4rem;
        margin: 0;
        padding: 5rem 5rem;

        @include breakpoint(tablet) {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 1rem;
        }

        @include breakpoint(large-desktop) {
          grid-template-columns: repeat(3, 1fr);
        }

        li {
          text-align: center;
          list-style: none;

          &:hover {
            img {
              transform: translateY(-20px);
            }
          }
        }

        img {
          width: 4rem;
          margin: 0 auto 0.5rem;
          height: 4rem;
          transition: transform 0.2s ease;

          @include breakpoint(large-desktop) {
            width: auto;
            height: 5rem;
            margin: 0 auto 1.5rem;
          }
        }

        .text {
          color: $color-white;
        }
      }
    }

    &-img {
      display: grid;
      place-content: center;
    }
  }
}
