@import "./colors";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  transition: all 0.8s ease-in-out;
  z-index: 20;

  &.default {
    transform: translateY(-52px);
    background-color: $color-red;

    .menu__item {
      &:hover {
        .menu__item-link {
          color: $color-white;
        }

        &:after {
          background-color: $color-white;
        }
      }
    }

    .logo {
      &-red {
        display: none;
      }

      &:hover {
        .logo-white {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &.hide {
    top: 0;
    transform: translateY(-100%);
  }

  &__top {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: center;
    color: $color-white;
    background-color: $color-red;
    opacity: 1;
    transition: all 0.4s ease-out;

    &.hide {
      top: -52px;
      opacity: 0;
    }

    &-phone {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        font: 400 1.75rem/1 "Roboto", sans-serif;
      }
    }

    &-social {
      display: flex;
      column-gap: 2.5rem;
      align-items: center;
    }
  }

  a {
    text-decoration: none;
    color: $color-white;
    transition: all 0.2s ease-in;
  }

  .navbar__arrow {
    position: absolute;
    top: 50%;
    margin-top: -0.4375rem;
    right: 0.5rem;
    width: 1rem;
  }

  &__bottom {
    position: relative;
    width: 100%;
    padding: 0.5rem 0;
    transition: all 0.8s ease-in-out;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 77rem;
      margin: 0 auto;
      padding: 0 1rem;
      column-gap: 1rem;
    }

    &.bckg {
      background-color: $color-red;
    }
  }

  .logo {
    position: relative;
    transition: opacity 0.4s ease-in-out;

    &-red,
    &-white {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .custom-logo-link {
        opacity: 0;
      }

      .logo-red {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .menu {
    &__wrapper {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
    }

    &__item {
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0.1rem;
        background-color: $color-white;
        transition: all 0.2s ease-in;
      }

      &.current-menu-item {
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 0.1rem;
          background-color: $color-white;
        }
      }

      &:hover {
        .menu__item-link {
          color: $color-red;
        }

        &:after {
          width: 100%;
          background-color: $color-red;
        }

        .submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  .fixed {
    .menu__item {
      &:hover {
        .menu__item-link {
          color: $color-white;
        }

        &:after {
          background-color: $color-white;
        }
      }
    }
  }

  // level 1
  .submenu {
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: max-content;
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    transform: translateY(1rem);
    background-color: $color-black-100;

    &__item {
      &-link {
        position: relative;
        padding: 0.3rem 2rem;

        &:hover {
          .level-1 {
            color: $color-red;
            display: block;
            transform: translateX(1rem);
          }
          .submenu-submenu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    // level 2
    &-submenu {
      position: absolute;
      top: -99%;
      left: 100%;
      width: max-content;
      margin-top: -0.25rem;
      padding: 1rem 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      transform: translateY(1rem);
      background-color: $color-black-100;

      &__item {
        &-link {
          position: relative;
          padding: 0.3rem 2rem;

          .thumbnail-menu {
            width: 8rem;
          }

          &:hover {
            .level-2 {
              color: $color-red;
              display: block;
              transform: translateX(1rem);
            }

            .submenu-submenu-submenu {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &-submenu {
        display: grid;
        &.more-row {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &-submenu {
        position: absolute;
        top: -1.7rem;
        left: 100%;
        width: max-content;
        margin-top: -0.3rem;
        padding: 1rem 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        transform: translateY(1rem);
        background-color: $color-black-100;

        &__item {
          &-link {
            position: relative;
            padding: 0.3rem 2rem;

            &:hover {
              .level-3 {
                color: $color-red;
                display: block;
                transform: translateX(1rem);
              }
            }
          }
        }

        &-submenu {
          display: grid;
          &.more-row {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}
