@import "./colors";
@import "./typograpy";
@import "./mixin";

.home {
  &__hero {
    position: relative;
    width: 100%;
    height: 70rem;
    padding-top: 5rem;
    overflow: hidden;

    @include breakpoint(large-desktop) {
      height: 71rem;
    }

    @include breakpoint(xxl-desktop) {
      height: 110vh;
    }

    .swiper {
      &-hero {
        height: 100%;
      }

      &-pagination {
        position: relative;
        display: flex;
        margin-top: 1rem;

        padding: 0 1rem;
        @include breakpoint(xxl-desktop) {
          padding: 0;
        }

        &-bullet {
          width: 3.5rem;
          height: 0.4rem;
          border-radius: 0;
          background: $color-white;
          opacity: 1;

          &-active {
            background: $color-red;
          }
        }
      }
    }

    figure {
      height: 100%;
      margin: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-center {
      position: absolute;
      top: 25%;
      left: 50%;
      width: 100%;
      z-index: 9;
      transform: translate(-50%, 0%);

      @include breakpoint(large-desktop) {
        top: 30%;
      }

      @include breakpoint(xxl-desktop) {
        top: 39%;
      }
    }

    &-copy {
      position: relative;
      max-width: 70rem;
      margin: 0 auto;
      height: 100%;
      z-index: 9;

      @include breakpoint(xxl-desktop) {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }

      .h1 {
        font: 600 2rem/1 Roboto, sans-serif;
        padding: 0 1rem;

        @include breakpoint(xxl-desktop) {
          font: 600 5rem/1 Roboto, sans-serif;
          padding: 0;
        }
      }

      .h1,
      p {
        color: $color-white;
      }

      p {
        font: 500 1.5rem/1 "Roboto", sans-serif;
        text-transform: uppercase;
        margin: 3rem 0 2rem;
        text-align: center;

        @include breakpoint(xxl-desktop) {
          text-align: left;
          margin: 5rem 0 0 3rem;
        }
      }
    }

    .line-animate {
      display: none;
      position: absolute;
      bottom: -1.5rem;
      left: 1rem;

      @include breakpoint(xxl-desktop) {
        display: block;
      }

      .svg-elem-1 {
        stroke-dashoffset: 3575.392822265625px;
        stroke-dasharray: 3575.392822265625px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
        transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
      }

      .svg-elem-2 {
        stroke-dashoffset: 1713.429931640625px;
        stroke-dasharray: 1713.429931640625px;
        -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
        transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.12s,
          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
      }

      .svg-elem-3 {
        stroke-dashoffset: 49.27885055541992px;
        stroke-dasharray: 49.27885055541992px;
        fill: transparent;
        -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
        transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.24s,
          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
      }

      &.active {
        .svg-elem-1 {
          stroke-dashoffset: 0;
          fill: $color-white;
        }

        .svg-elem-2 {
          stroke-dashoffset: 0;
        }

        .svg-elem-3 {
          stroke-dashoffset: 0;
          fill: $color-white;
        }
      }
    }

    .filter {
      position: relative;
      @include breakpoint(xxl-desktop) {
        transform: translate(4rem, -1rem);
      }

      .text {
        font-weight: 600;
        color: $color-white;
      }

      &__position {
        width: 20rem;
        margin: 0 auto;
        padding: 1.5rem;
        background: rgba(174, 38, 44, 0.7098039216) 0 0 no-repeat;
        -webkit-backdrop-filter: blur(0.5625rem);
        backdrop-filter: blur(0.5625rem);
        overflow-y: auto;

        animation-duration: 1s;
        animation-fill-mode: both;

        @include breakpoint(xxl-desktop) {
          position: absolute;
          top: 0;
          right: 0;
          width: 23.3rem;
          height: 25rem;
          margin-right: 0;
        }

        &.wobble-active {
          animation-name: wobble-reverse;
        }

        @keyframes wobble-reverse {
          0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }

          15% {
            -webkit-transform: translateX(25%) rotate(5deg);
            transform: translateX(25%) rotate(5deg);
          }

          30% {
            -webkit-transform: translateX(-20%) rotate(-3deg);
            transform: translateX(-20%) rotate(-3deg);
          }

          45% {
            -webkit-transform: translateX(15%) rotate(3deg);
            transform: translateX(15%) rotate(3deg);
          }

          60% {
            -webkit-transform: translateX(-10%) rotate(-2deg);
            transform: translateX(-10%) rotate(-2deg);
          }

          75% {
            -webkit-transform: translateX(5%) rotate(1deg);
            transform: translateX(5%) rotate(1deg);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        input[type="radio"],
        input[type="checkbox"] {
          position: relative;
          appearance: none;
          background-color: $color-white;
          width: 1.3rem;
          height: 1.3rem;
          border: 0.0625rem solid $color-gray;
          cursor: pointer;
        }

        input[type="radio"]::before,
        input[type="checkbox"]::before {
          content: "";
          width: 1.3rem;
          height: 1.3rem;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
        }

        input[type="radio"]:checked::before,
        input[type="checkbox"]:checked::before {
          position: absolute;
          left: 0.4375rem;
          top: 0.1875rem;
          width: 0.375rem;
          height: 0.625rem;
          border: solid $color-gray;
          border-width: 0 0.1875rem 0.1875rem 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        h4 {
          padding: 0.5rem 0;
          color: $color-white;
        }

        label {
          color: $color-white;
        }

        .searchandfilter {
          .meta-slider {
            max-width: 100% !important;
            height: 0.0625rem !important;
          }

          .noUi-horizontal .noUi-handle {
            top: -0.5rem;
            right: -0.6rem;
            width: 0.9375rem;
            height: 0.9375rem;
            cursor: grab;

            &:before,
            &:after {
              display: none;
            }
          }

          .sf-meta-range-slider {
            position: relative;

            label {
              position: relative;
              width: 49%;

              &:nth-child(2) {
                &:after {
                  content: "";
                  position: absolute;
                  bottom: -0.375rem;
                  left: 2rem;
                  width: 0;
                  height: 0;
                  border-top: 0.375rem solid $color-white-200;
                  border-left: 0.5rem solid transparent;
                  border-right: 0.5rem solid transparent;
                }
              }

              &:nth-child(2) {

                .sf-input-range-number {
                  padding: .5rem .5rem .5rem 2.5rem;
                  text-align: right;
                  @include breakpoint(large-desktop) {
                    padding: .5rem .5rem .5rem 2.5rem;
                  }
                }
              }

              &:nth-child(5) {
                position: relative;
                text-align: right;

                &:after {
                  content: "";
                  position: absolute;
                  bottom: -0.375rem;
                  right: 2rem;
                  width: 0;
                  height: 0;
                  border-top: 0.375rem solid $color-white-200;
                  border-left: 0.5rem solid transparent;
                  border-right: 0.5rem solid transparent;
                }

                .sf-input-range-number {
                  padding: .5rem 0.5rem .5rem 1.5rem;
                  text-align: right;
                }
              }
            }

            .sf-range-prefix {
              &:nth-child(1) {
                font: 500 .7rem/1.6 "Roboto",sans-serif;
                position: absolute;
                top: 0;
                left: .1rem;
                z-index: 1;
                padding: .5rem .2rem .3rem .3rem;
                background: #dfdfdf;
                @include breakpoint(large-desktop) {
                  left: .2rem;
                }
              }

              &:nth-child(4) {
                font: 500 .7rem/1.6 "Roboto",sans-serif;
                position: absolute;
                top: 0;
                right: 4.3rem;
                z-index: 1;
                padding: .5rem .2rem .3rem .3rem;
                background: #dfdfdf;
              }
            }

            .sf-input-range-number {
              font: 500 0.8rem/0.9 "Roboto", sans-serif;
              max-width: 7rem;
              padding: .5rem .8rem .5rem 2rem;
              text-align: center;
              color: $color-black;
              background-color: $color-white-200;
              border: 0;
              text-align: left;
            }
          }
        }

        .sf-field-submit {
          input[type="submit"] {
            font: 500 1.2rem/1 "Roboto", sans-serif;
            width: 100%;
            padding: 1rem;
            border: 0.15rem solid $color-white;
            color: $color-white;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              color: $color-black;
              background-color: $color-white;
            }
          }
        }
      }

      [class^="sf-field-taxonomy-"] {
        position: relative;
        padding: 0;
        border-bottom: 0.0625rem solid $color-white;

        .selected {
          position: relative;
          display: block;
          padding: 0 0 0.5rem 1rem;
          color: $color-white;
          background: url(/wp-content/themes/altius-theme/assets/images/icons/icon-chevron-down.png);
          background-size: 1rem;
          background-repeat: no-repeat;
          background-position: right 0;
          opacity: 0.3;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          z-index: 1;
          cursor: pointer;
        }

        ul {
          display: none;
          height: 10rem;
          padding: 0.5rem 1rem;
          background: rgba(0, 0, 0, 0.51);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(8.5px);
          overflow-y: auto;

          @include breakpoint(large-desktop) {
            height: auto;
            overflow: inherit;
          }
        }

        li {
          display: flex;
          align-items: center;
        }
      }

      [class^="sf-field-taxonomy-ciudad"] {
        .clean, 
        .accept {
          display: none;
        }
      }

      .sf-field-taxonomy-tipo {
        .sf-item-0 {
          display: none;
        }
      }

      .clean,
      .accept {
        width: 45%;
        margin-top: 1rem;
        padding: 0.5rem;
        background-color: transparent;
        border: 0.0625rem solid $color-white;
        color: $color-white;
        cursor: pointer;
      }

      .clean {
        margin-right: 1rem;

        &:hover {
          color: $color-black;
          border: 0.0625rem solid $color-yellow;
          background-color: $color-yellow;
        }
      }

      .accept {
        &:hover {
          border: 0.0625rem solid $color-red;
          background-color: $color-red;
        }
      }
    }
  }

  &__featured {
    background-color: $color-red;

    &-bckg {
      position: relative;
      padding: 2rem 0;
      @include breakpoint(large-desktop) {
        padding: 5rem 0;
      }
    }

    &-item {
      width: 50%;
      text-decoration: none;
      overflow: hidden;

      @include breakpoint(large-desktop) {
        width: 32.4%;
      }

      &s {
        @include breakpoint(large-desktop) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          column-gap: 1rem;
          row-gap: 3rem;
        }
      }

      figure {
        margin-bottom: 0;
        overflow: hidden;
      }

      img {
        margin: 0 auto;
        transition: transform 0.4s ease;
      }

      .h3 {
        position: relative;
        display: grid;
        place-content: center;
        text-align: center;
        color: $color-white;
        padding: 1rem 0.5rem 3rem;
        font-weight: 500;
        letter-spacing: -0.015rem;
        z-index: 1;

        @include breakpoint(large-desktop) {
          min-height: 5.75rem;
          padding: 1rem 0.5rem;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0.6875rem;
          background-color: $color-red;
          z-index: -1;
          transition: all 0.4s ease;
        }
      }
      @include breakpoint(large-desktop) {
        &:hover {
          img {
            transform: scale(1.1);
          }
          .h3 {
            &:before {
              height: 10rem;
            }
          }
        }
      }
    }
  }

  &__newprojects {
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 7rem;
      height: 100%;
      z-index: 2;
    }

    &:before {
      left: 0;
      background: transparent
        linear-gradient(270deg, #29292900 0%, #292929 100%) 0% 0% no-repeat;
    }

    &:after {
      right: 0;
      background: transparent linear-gradient(90deg, #29292900 0%, #292929 100%)
        0% 0% no-repeat;
    }

    &-bckg {
      padding: 3rem 0 0;
    }

    .h2 {
      padding: 2rem 0 2rem;
      text-align: center;

      @include breakpoint(large-desktop) {
        padding: 0 0 2rem;
      }
    }

    figure {
      margin: 0;
      overflow: hidden;
    }

    .swiper {
      &-hero {
        height: 100%;
      }
      &-slide {
        position: relative;

        @include breakpoint(large-desktop) {
          &:hover {
            .home__newprojects-img {
              transform: translateX(-1rem);
            }

            .home__newprojects-icon {
              opacity: 1;
              visibility: visible;

              img {
                transform: scale(1);
              }
            }
          }
        }
      }

      &-button {
        &-prev,
        &-next {
          border: 0;
          background-color: transparent;
          &:after {
            font-size: 0;
          }
        }
      }

      &-pagination {
        &-bullet {
          width: 0.7rem;
          height: 0.7rem;
          margin: 0 0.1rem !important;
          background: rgba(242, 239, 239, 0.7);
          opacity: 1;

          @include breakpoint(large-desktop) {
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 0.5rem !important;
          }

          &-active {
            background: $color-red;
          }
        }
      }
    }

    &-actions {
      position: absolute;
      width: 100%;
      bottom: 1.5rem;
    }

    &-img {
      transition: all 0.2s ease-in-out;
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-black-100;
      transition: all 0.4s ease-in-out;

      @include breakpoint(large-desktop) {
        opacity: 0;
        visibility: hidden;
      }

      img {
        width: 8rem;
        transform: scale(0.9);
        transition: all 0.4s ease-in-out;
      }
    }
  }

  &__counter {
    &-bckg {
      display: grid;
      padding: 2rem 0;
      background-size: cover;
      background-repeat: no-repeat;

      @include breakpoint(large-desktop) {
        place-content: center;
        height: 22rem;
      }
    }

    &-item {
      text-align: center;
      &s {
        display: grid;
        row-gap: 3rem;

        @include breakpoint(large-desktop) {
          grid-template-columns: repeat(3, 1fr);
          column-gap: 3rem;
          padding: 0 1rem;
        }
      }

      img {
        margin: 0 auto 1rem;
      }

      .number {
        font: 300 3rem/1 "Roboto", sans-serif;
        color: $color-yellow;

        @include breakpoint(large-desktop) {
          font: 300 5rem/1 "Roboto", sans-serif;
        }
      }

      p {
        font: normal 1rem/1.2 "Roboto", sans-serif;
        color: $color-white;

        @include breakpoint(large-desktop) {
          font: normal 1.875rem/1 "Roboto",sans-serif
        }
      }
    }
  }
}
