@import "./header";
@import "./footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  color: $color-black;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  
  @include breakpoint(large-desktop) {
    max-width: 75rem;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  border: 0;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sr-only,
.screen-reader-response {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.site {
  margin-top: -6.2rem;
}

.title--icon {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Form Global
.wpcf7-not-valid-tip,
.wpcf7-response-output {
  color: $color-red;
}

.text-left-to-right {
  animation: textLeftRight 2s forwards;
}

@keyframes textLeftRight {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.custom-map {
  position: relative;
  padding: 3rem 0 0;
  background-color: $color-black;

  #map {
    width: 100%;
    height: 25rem;

    @include breakpoint(large-desktop) {
      height: 37rem;
    }
  }

  .h2 {
    text-align: center;
    color: $color-white;
    margin-bottom: 1rem;
  }

  .check-ops {
    column-gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    
    @include breakpoint(large-desktop) {
      display: flex;
      justify-content: center;
      padding: 0;

    }
  }

  .btn {
    &-talk,
    &-car {
      display: flex;
      align-items: center;
      font: 500 1.2rem/1 "Roboto", sans-serif;
      width: 100%;
      margin-bottom: 1rem;
      text-transform: uppercase;
      border: 0.0625rem solid $color-white;
      color: $color-white;
      background-color: transparent;
      cursor: pointer;

      @include breakpoint(large-desktop) {
        width: 13.14rem;
        margin-bottom: 0;
        font: 500 1.7rem/1 "Roboto", sans-serif;
      }

      &.active {
        color: $color-red;
        background-color: $color-white;

        svg {
          path.b {
            fill: $color-red;
          }

          path.b2 {
            fill: $color-red;
          }
        }
      }
    }
  }

  &__select {
    padding: 2rem 0;
    background-color: $color-red;

    .container {
      display: grid;
      row-gap: 2rem;
      
      @include breakpoint(large-desktop) {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        width: 65rem;
      }

      div {
        &:last-child {
          background: url(/wp-content/themes/altius-theme/assets/images/icons/icon-chevron-down.png);
          background-repeat: no-repeat;
          background-position: right center;
        }
      }
    }

    input,
    select {
      width: 100%;
      font: 300 1.2rem/1 "Roboto", sans-serif;
      color: $color-white;
      border-bottom: 0.0625rem solid $color-white;

      @include breakpoint(large-desktop) {
        font: 300 2rem/1 "Roboto", sans-serif;
      }
    }

    select {
      option {
        color: $color-black;
      }
    }

    input {
      &::-moz-placeholder {
        color: $color-white;
        opacity: 1;
      }

      &::-webkit-input-placeholder {
        color: $color-white;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $color-white;
        opacity: 1;
      }

      &::placeholder {
        color: $color-white;
        opacity: 1;
      }
    }
  }
}

.results {
  padding-top: 20rem;
}

.gm-style-iw.gm-style-iw-c {
  display: block;
  border-radius: 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -1.8rem;
    left: -0.374rem;
    width: 1rem;
    height: 4rem;
    background-color: $color-red;
    transform: rotate(40deg);/*  */
  }
}

.indications-box {
  position: absolute;
  top: 25rem;
  z-index: 1;
  width: 25rem;
  background: $color-white;
  font-size: .8rem;
  height: 30rem;
  overflow: scroll;
  transition: all .3s ease;

  &.d-none {
    transform: translateX(-100%);
  }
}

#close-indications {
  position: absolute;
  top: 38rem;
  left: 25rem;
  background: $color-red;
  border: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .3s ease;

  img {
    transition: all .3s ease;
  }

  &.d-none {
    left: -3rem;
  }

  &.d-show {
    left: 0;
  }
}
