@import "./colors";
@import "./typograpy";
@import "./mixin";

.new {
  &__detail {
    &-swiper {
      position: relative;
      width: 100%;
      height: 40rem;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black-100;
        z-index: 2;
      }

      .swiper {
        &-single {
          height: 100%;

          figure {
            height: 100%;
          }
          
          @include breakpoint(large-desktop) {
            height: auto;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include breakpoint(large-desktop) {
          height: auto;
        }
      }

      .title {
        font: 600 1.5rem/1.3 "Roboto", sans-serif;
        position: absolute;
        left: 40%;
        bottom: 7rem;
        margin: 0 0 0 -1rem;
        padding: 0;
        color: $color-white;
        transform: translate(-50%, 0);
        z-index: 2;
        
        @include breakpoint(large-desktop) {
          font: 600 2.5rem/1.3 "Roboto", sans-serif;
          left: 50%;
          max-width: 40rem;
          margin: 0 0 0 -16.5rem;
        }
      }

      .swiper {
        &-button {
          &-prev,
          &-next {
            border: 0;
            background-color: transparent;
            &:after {
              font-size: 0;
            }
          }
        }
      }
    }

    &-actions {
      position: absolute;
      width: 100%;
      bottom: 4rem;
    }

    &-bckg {
      position: relative;
      background-color: $color-black;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 8rem;
        position: absolute;
        top: -8rem;
        background: transparent
          linear-gradient(180deg, #29292900 0%, #292929 100%) 0% 0% no-repeat
          padding-box;
        z-index: 1;
      }
    }

    &-wrapper {
      margin: 0 auto;
      padding: 2rem 1rem 5rem;
      column-gap: 2.5rem;
      
      @include breakpoint(large-desktop) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 65rem;
      }

      @include breakpoint(xxl-desktop) {
        grid-template-columns: 70% 30%;
      }
    }

    &-copy {
      margin-bottom: 2rem;
      padding: 3rem 1rem 1rem;
      color: $color-white;
      background-color: $color-red;

      a {
        color: $color-white;
      }

      h3 {
        font-weight: 400;
        margin: 0 0 1rem !important;
        padding-left: 2rem;
      }

      p {
        &:last-child {
          margin: 0;
        }
      }
    }

    &-content {
      p {
        font: 400 1rem/1.5 "Roboto", sans-serif;
        margin-bottom: 1rem;
        text-align: justify;

        @include breakpoint(large-desktop) {
          font: 400 1.3rem/1.5 "Roboto", sans-serif;
        }
      }

      .text,
      a {
        color: $color-white;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font: 600 1.6rem/1 "Roboto", sans-serif;
        margin: 2.5rem 0 2rem;
        padding-left: 2rem;

        @include breakpoint(large-desktop) {
          font: 600 1.875rem/1 "Roboto", sans-serif;
        }
      }

      iframe {
        width: 100%
      }

      &__link {
        padding: 1rem;
        background-color: $color-red;

        @include breakpoint(large-desktop) {
          padding: 1rem 2rem;
        }

        .h3 {
          margin: 0;
          color: $color-white;
        }

        a {
          color: $color-white;
          text-decoration: none;
        }
      }
    }

    &-sidebar {
      .section {
        padding: 1rem;
        background-color: $color-white-100;
        margin-bottom: 2rem;
      }

      h3 {
        font: 600 1.3rem/1 'Roboto', sans-serif;
        color: $color-red;
        margin-bottom: 1rem;

        @include breakpoint(large-desktop) {
          font: 600 1.875rem/1 'Roboto', sans-serif;
        }
      }

      .center {
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      input[type="search"] {
        width: 100%;
        padding: 0.8rem 1rem;
        border: 0.0625rem solid #707070;
        background-color: $color-white;
      }

      button {
        display: inline-block;
        width: max-content;
        padding: 0.5rem 1.5rem;
        border: 0;
        border-bottom: 0.3rem solid #661a1d;
        color: $color-white;
        background-color: $color-red;
        cursor: pointer;
      }

      .sidebar-widget-single {
        margin-bottom: 1rem;

        br {
          display: none;
        }

        p {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;

          a {
            display: flex;
            justify-content: center;
          }
        }
      }

      .latest-news {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.0625rem dashed $color-black;

        &:last-child {
          margin: 0;
          padding: 0;
          border-bottom: none;
        }

        .date {
          font: 600 1rem/1.3 "Roboto", sans-serif;
          margin: 0.3rem 0 1rem;
          color: $color-red;
          text-transform: uppercase;
        }

        .excerpt {
          font: 400 .9rem/1.2 "Roboto", sans-serif;
          margin-bottom: 1rem;

          @include breakpoint(large-desktop) {
            font: 400 1rem/1.3 "Roboto", sans-serif;
          }
        }

        .link {
          display: block;
          padding: 0.3rem 1rem;
          max-width: max-content;
          margin: 0 auto;
          color: $color-red;
          border: 0.0625rem solid $color-red;
          text-decoration: none;
          transition: all 0.3s ease-in;

          &:hover {
            color: $color-white;
            border-color: $color-red;
            background-color: $color-red;
          }
        }
      }
    }
  }
}

.apartment {
  &__hero {
    &-bckg {
      position: relative;
      width: 100%;
      height: 47rem;
      padding: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 59%);
      }
    }

    &-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 77rem;
      height: 100%;
      margin: 0 auto;
      padding: 16rem 1rem 0 4rem;
      column-gap: 1rem;
    }

    &-logo {
      width: 25rem;
    }
  }

  .filter {
    position: relative;

    .text {
      font-weight: 600;
      color: $color-white;
    }

    &__position {
      width: 20rem;
      margin: 0 auto;
      margin-right: 0;
      padding: 1.5rem;
      background: rgba(174, 38, 44, 0.7098039216) 0 0 no-repeat;
      -webkit-backdrop-filter: blur(0.5625rem);
      backdrop-filter: blur(0.5625rem);
      height: 25rem;
      overflow: scroll;

      animation-duration: 1s;
      animation-fill-mode: both;

      &.wobble-active {
        animation-name: wobble-reverse;
      }

      @keyframes wobble-reverse {
        0% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }

        15% {
          -webkit-transform: translateX(25%) rotate(5deg);
          transform: translateX(25%) rotate(5deg);
        }

        30% {
          -webkit-transform: translateX(-20%) rotate(-3deg);
          transform: translateX(-20%) rotate(-3deg);
        }

        45% {
          -webkit-transform: translateX(15%) rotate(3deg);
          transform: translateX(15%) rotate(3deg);
        }

        60% {
          -webkit-transform: translateX(-10%) rotate(-2deg);
          transform: translateX(-10%) rotate(-2deg);
        }

        75% {
          -webkit-transform: translateX(5%) rotate(1deg);
          transform: translateX(5%) rotate(1deg);
        }

        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }

      input[type="radio"],
      input[type="checkbox"] {
        position: relative;
        appearance: none;
        background-color: $color-white;
        width: 1.3rem;
        height: 1.3rem;
        border: 0.0625rem solid $color-gray;
        cursor: pointer;
      }

      input[type="radio"]::before,
      input[type="checkbox"]::before {
        content: "";
        width: 1.3rem;
        height: 1.3rem;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

      input[type="radio"]:checked::before,
      input[type="checkbox"]:checked::before {
        position: absolute;
        left: 0.4375rem;
        top: 0.1875rem;
        width: 0.375rem;
        height: 0.625rem;
        border: solid $color-gray;
        border-width: 0 0.1875rem 0.1875rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      h4 {
        padding: 0.5rem 0;
        color: $color-white;
      }

      label {
        color: $color-white;
      }

      .searchandfilter {
        .meta-slider {
          max-width: 100% !important;
          height: 0.0625rem !important;
        }

        .noUi-horizontal .noUi-handle {
          top: -0.5rem;
          right: -0.6rem;
          width: 0.9375rem;
          height: 0.9375rem;
          cursor: grab;

          &:before,
          &:after {
            display: none;
          }
        }

        .sf-meta-range-slider {
          position: relative;

          label {
            position: relative;
            width: 49%;

            &:nth-child(2) {
              &:after {
                content: "";
                position: absolute;
                bottom: -0.375rem;
                left: 2rem;
                width: 0;
                height: 0;
                border-top: 0.375rem solid $color-white-200;
                border-left: 0.5rem solid transparent;
                border-right: 0.5rem solid transparent;
              }
            }

            &:nth-child(5) {
              position: relative;
              text-align: right;

              &:after {
                content: "";
                position: absolute;
                bottom: -0.375rem;
                right: 2rem;
                width: 0;
                height: 0;
                border-top: 0.375rem solid $color-white-200;
                border-left: 0.5rem solid transparent;
                border-right: 0.5rem solid transparent;
              }
            }
          }

          .sf-range-prefix {
            &:nth-child(1) {
              position: absolute;
              top: 0.5rem;
              left: 0.3rem;
              z-index: 1;
            }

            &:nth-child(4) {
              position: absolute;
              top: 0.5rem;
              right: 4.3rem;
              z-index: 1;
            }
          }

          .sf-input-range-number {
            font: 500 1rem/1 "Roboto", sans-serif;
            padding: 0.5rem 0.8rem 0.5rem 1.2rem;
            text-align: center;
            color: $color-black;
            background-color: $color-white-200;
          }
        }
      }

      .sf-field-submit {
        input[type="submit"] {
          font: 500 1.2rem/1 "Roboto", sans-serif;
          width: 100%;
          padding: 1rem;
          border: 0.15rem solid $color-white;
          color: $color-white;
          background-color: transparent;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            color: $color-black;
            background-color: $color-white;
          }
        }
      }
    }

    [class^="sf-field-taxonomy-"] {
      position: relative;
      padding: 0;
      border-bottom: 0.0625rem solid $color-white;

      .selected {
        position: relative;
        display: block;
        padding: 0 0 0.5rem 1rem;
        color: $color-white;
        background: url(/wp-content/themes/altius-theme/assets/images/icons/icon-chevron-down.png);
        background-size: 1rem;
        background-repeat: no-repeat;
        background-position: right 0;
        opacity: 0.3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        cursor: pointer;
      }

      ul {
        display: none;
        padding: 0.5rem 1rem;
        background: rgba(0, 0, 0, 0.51);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.5px);
      }

      li {
        display: flex;
        align-items: center;
      }
    }

    .sf-field-taxonomy-tipo {
      .sf-item-0 {
        display: none;
      }
    }

    .clean,
    .accept {
      width: 46%;
      margin-top: 1rem;
      padding: 0.5rem;
      background-color: transparent;
      border: 0.0625rem solid $color-white;
      color: $color-white;
      cursor: pointer;
    }

    .clean {
      margin-right: 1rem;

      &:hover {
        color: $color-black;
        border: 0.0625rem solid $color-yellow;
        background-color: $color-yellow;
      }
    }

    .accept {
      &:hover {
        border: 0.0625rem solid $color-red;
        background-color: $color-red;
      }
    }
  }

  &__copy {
    &-bckg {
      position: relative;
      padding: 8rem 0 0 0;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 30% 67%;
      column-gap: 1rem;

      figure {
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-copy {
      padding-right: 2rem;
      p,
      ul {
        font: 300 1.2rem/1.3 "Roboto", sans-serif;
        text-align: justify;
        color: $color-white;
      }

      p {
        margin-bottom: 2rem;
      }

      ul {
        padding: 0 0 3rem 3rem;
      }

      li {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0.5rem;
          left: -15px;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 10rem;
          background-color: $color-white;
        }
      }
    }
  }

  &__amenities {
    &-bckg {
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 65% 35%;

      figure {
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-title {
      padding: 5rem 0 2rem 23%;
      .h2 {
        font: 600 3rem/1.5 Roboto, sans-serif;
        color: $color-white;
      }
    }

    &-item {
      &s {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 4%;
        row-gap: 4rem;
        padding: 0 1rem 150px 5rem;
      }

      img {
        width: 4rem;
        height: 4rem;
        margin: 0 auto 0.5rem;
      }

      .text {
        font: 600 0.9rem/1 "Roboto", sans-serif;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &__gallery {
    background-color: $color-black;
    padding-bottom: 5rem;
    .swiper {
      &-slide {
        position: relative;
      }

      &-slide-thumb-active {
        transform: scale(1.2);
        transition: all 0.3s ease;
        z-index: 1;
      }

      &-top {
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16/7;
        }

        .play {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 6.25rem;
          height: 6.25rem;
          margin-left: -3.125rem;
          margin-top: -3.125rem;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }

      &-bottom {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16/9;
        }

        .video {
          width: 100%;
          height: 6.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #000;
        }

        .play {
          position: relative;
          top: 0;
          left: 0;
          width: 2rem;
          height: 2rem;
          margin-left: 0;
          margin-top: 0;
        }
      }
    }

    &-shadow {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -6rem;
        width: 100%;
        height: 9rem;
        background: transparent
          linear-gradient(180deg, rgba(41, 41, 41, 0) 0, #292929 100%) 0 0
          no-repeat padding-box;
        z-index: 1;
      }
    }

    &-bottom {
      position: relative;
      width: 70rem;
      margin: 0 auto;

      .swiper {
        overflow: inherit;
      }
    }

    &-wrapper {
      position: relative;
      width: 62rem;
      margin: -3rem auto 0 auto;
      padding: 0 1rem;
      overflow-x: clip;
    }

    &-actions {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3rem;
      margin-top: -1.5rem;

      button {
        width: 4rem;
        border: 0;
        background: transparent;
        &:after {
          display: none;
        }
      }
    }
  }

  &__brochure {
    &-bckg {
      position: relative;
      padding: 6rem 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f0000075;
      }
    }
    &-wrapper {
      display: grid;
      place-content: center;

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        font: 600 1.7rem/1 "Roboto", sans-serif;
        padding: 0.5rem 2rem;
        text-decoration: none;
        color: $color-white;
        border: 0.0625rem solid $color-white;
        z-index: 1;

        &:hover {
          background-color: $color-black;
        }
      }
    }
  }
}

.properties {
  &__swiper {
    position: relative;

    .swiper {
      overflow: inherit;

      &-top {
        height: 38rem;
        overflow: hidden !important;
      }

      &-bottom {
        position: relative;
        margin-top: -5rem;
        height: 10rem;

        &:before {
          content: "";
          position: absolute;
          top: 2rem;
          display: block;
          width: 100%;
          height: 3rem;
          background: transparent
            linear-gradient(180deg, #29292900 0%, #292929 100%) 0% 0% no-repeat
            padding-box;
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0rem;
          display: block;
          width: 100%;
          height: 5rem;
          background-color: $color-black;
        }

        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          aspect-ratio: 16/9;
        }

        .swiper-wrapper {
          justify-content: center;
        }
      }

      &-slide-thumb-active {
        transform: scale(1.2);
        transition: all 0.3s ease;
        z-index: 1;
      }
    }
  }

  &__detail {
    padding-top: 5rem;
    background-color: $color-black;

    .h3,
    .text {
      color: $color-white;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .box {
        display: flex;
        column-gap: 1rem;
        width: 30rem;
        margin: 1rem 0 3rem;
        padding: .3rem 1rem;
        background-color: $color-white;

        .text {
          font: 400 1rem/1.3 "Roboto", sans-serif;
          color: $color-black;
        }

        strong {
          font: 600 1.3rem/1.3 "Roboto", sans-serif;
          color: $color-red;
        }
      }
    }
  }
}
