@import "./colors";
@import "./typograpy";

.new {
  &__detail {
    &-swiper {
      position: relative;
      width: 100%;
      height: 40rem;
      overflow: hidden;

      img {
        width: 100%;
      }

      .title {
        font: 600 2.5rem/1.3 "Roboto", sans-serif;
        position: absolute;
        left: 50%;
        bottom: 7rem;
        max-width: 40rem;
        margin: 0 0 0 -16.5rem;
        padding: 0;
        color: $color-white;
        transform: translate(-50%, 0);
        z-index: 2;
      }

      .swiper {
        &-button {
          &-prev,
          &-next {
            border: 0;
            background-color: transparent;
            &:after {
              font-size: 0;
            }
          }
        }
      }
    }

    &-actions {
      position: absolute;
      width: 100%;
      bottom: 4rem;
    }

    &-bckg {
      position: relative;
      background-color: $color-black;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 8rem;
        position: absolute;
        top: -8rem;
        background: transparent
          linear-gradient(180deg, #29292900 0%, #292929 100%) 0% 0% no-repeat
          padding-box;
        z-index: 1;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 70% 30%;
      max-width: 65rem;
      margin: 0 auto;
      padding: 0 1rem 5rem;
      column-gap: 2.5rem;
    }

    &-copy {
      margin-bottom: 2rem;
      padding: 3rem 1rem 1rem;
      color: $color-white;
      background-color: $color-red;

      a {
        color: $color-white;
      }

      h3 {
        font-weight: 400;
        margin: 0 0 1rem !important;
        padding-left: 2rem;
      }

      p {
        &:last-child {
          margin: 0;
        }
      }
    }

    &-content {
      p {
        margin-bottom: 1rem;
        text-align: justify;
      }

      .text,
      a {
        color: $color-white;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font: 600 1.875rem/1 "Roboto", sans-serif;
        margin: 2.5rem 0 2rem;
        padding-left: 2rem;
      }

      &__link {
        padding: 1rem 2rem;
        background-color: $color-red;

        .h3 {
          margin: 0;
          color: $color-white;
        }

        a {
          color: $color-white;
          text-decoration: none;
        }
      }
    }

    &-sidebar {
      .section {
        padding: 1rem;
        background-color: $color-white-100;
        margin-bottom: 2rem;
      }

      h3 {
        color: $color-red;
        margin-bottom: 1rem;
      }

      .center {
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      input[type="search"] {
        width: 100%;
        padding: 0.8rem 1rem;
        border: 0.0625rem solid #707070;
        background-color: $color-white;
      }

      button {
        display: inline-block;
        width: max-content;
        padding: 0.5rem 1.5rem;
        border: 0;
        border-bottom: 0.3rem solid #661a1d;
        color: $color-white;
        background-color: $color-red;
        cursor: pointer;
      }

      .sidebar-widget-single {
        margin-bottom: 1rem;

        br {
          display: none;
        }

        p {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;

          a {
            display: flex;
            justify-content: center;
          }
        }
      }

      .latest-news {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.0625rem dashed $color-black;

        &:last-child {
          margin: 0;
          padding: 0;
          border-bottom: none;
        }

        .date {
          font: 600 1rem/1.3 "Roboto", sans-serif;
          margin: 0.3rem 0 1rem;
          color: $color-red;
          text-transform: uppercase;
        }

        .excerpt {
          margin-bottom: 1rem;
        }

        .link {
          display: block;
          padding: 0.3rem 1rem;
          max-width: max-content;
          margin: 0 auto;
          color: $color-red;
          border: 0.0625rem solid $color-red;
          text-decoration: none;
          transition: all 0.3s ease-in;

          &:hover {
            color: $color-white;
            border-color: $color-red;
            background-color: $color-red;
          }
        }
      }
    }
  }
}

.apartment {
  &__hero {
    &-bckg {
      width: 100%;
      height: 47rem;
      padding: 0 0 8rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
    }

    &-wrapper {
      display: flex;
      align-items: flex-end;
      max-width: 77rem;
      height: 100%;
      margin: 0 auto;
      padding: 0 1rem 0 4rem;
      column-gap: 1rem;
    }

    &-logo {
      width: 35rem;
    }
  }

  &__copy {
    &-bckg {
      position: relative;
      padding: 8rem 0 0 0;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1.875rem;
        position: absolute;
        top: -1.875rem;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 30% 67%;
      column-gap: 1rem;

      figure {
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-copy {
      padding-right: 2rem;
      p,
      ul {
        font: 400 1.8rem/1.3 "Roboto", sans-serif;
        color: $color-white;
      }

      p {
        margin-bottom: 2rem;
      }

      ul {
        padding: 0 0 3rem 3rem;
      }

      li {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 1rem;
          left: -15px;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 10rem;
          background-color: $color-white;
        }
      }
    }
  }

  &__amenities {
    &-bckg {
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 65% 35%;

      figure {
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-title {
      padding: 5rem 0 2rem 23%;
      .h2 {
        color: $color-white;
      }
    }

    &-item {
      &s {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 4%;
        row-gap: 10%;
        padding: 0 5% 200px 9%;
      }

      img {
        width: 4rem;
        height: 4rem;
        margin: 0 auto 0.5rem;
      }

      .text {
        font: 600 0.9rem/1 "Roboto", sans-serif;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &__gallery {
    background-color: $color-black;
    padding-bottom: 5rem;
    .swiper {
      &-slide {
        position: relative;
      }

      &-slide-thumb-active {
        transform: scale(1.2);
        transition: all 0.3s ease;
        z-index: 1;
      }

      &-top {
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16/7;
        }

        .play {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 6.25rem;
          height: 6.25rem;
          margin-left: -3.12500rem;
          margin-top: -3.12500rem;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }

      &-bottom {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16/9;
        }

        .video {
          width: 100%;
          height: 6.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #000;
        }

        .play {
          position: relative;
          top: 0;
          left: 0;
          width: 2rem;
          height: 2rem;
          margin-left: 0;
          margin-top: 0;
        }
      }
    }

    &-shadow {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -6rem;
        width: 100%;
        height: 9rem;
        background: transparent
          linear-gradient(180deg, rgba(41, 41, 41, 0) 0, #292929 100%) 0 0
          no-repeat padding-box;
        z-index: 1;
      }
    }

    &-bottom {
      position: relative;
      width: 70rem;
      margin: 0 auto;

      .swiper {
        overflow: inherit;
      }
    }

    &-wrapper {
      position: relative;
      width: 62rem;
      margin: -3rem auto 0 auto;
      padding: 0 1rem;
      overflow-x: clip;
    }

    &-actions {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3rem;
      margin-top: -1.5rem;

      button {
        width: 4rem;
        border: 0;
        background: transparent;
        &:after {
          display: none;
        }
      }
    }
  }

  &__brochure {
    &-bckg {
      position: relative;
      padding: 6rem 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f0000075;
      }
    }
    &-wrapper {
      display: grid;
      place-content: center;

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        font: 600 1.7rem/1 "Roboto", sans-serif;
        padding: 0.5rem 2rem;
        text-decoration: none;
        color: $color-white;
        border: 0.0625rem solid $color-white;
        z-index: 1;

        &:hover {
          background-color: $color-black;
        }
      }
    }
  }
}
